.search {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    gap: 6em;
}

.search div{
    display: flex;
    flex-grow: 1;
    gap: 1em;
}

@media only screen and (max-width: 768px) {
    .search span{
        display: none;
    }
}