@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000d2f !important;
}

.App {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #567dff;
    padding-top: 2em;
}

.App-logo span{
    font-weight: 600;
}

.card-lista{
    background-color: white !important;
    width: 100%;
    padding: 10px;
    margin: 5px;
    cursor:pointer;
    border-radius: 5px;
}

.button-new{
    height: 3em
}

.bi-bag-check-fill {
    color: black !important;
}

.tableAddLista{
    width: 70vw !important;
}

.tableAddLista thead tr{
    width: 100%;
}

.links {
    display: flex;
    justify-content: space-evenly;
}

.links a{
    text-decoration: none;
    color: #aaa;
    transition: 0.3s ease;
}

.links a:hover {
    color: #eee;
    transform: scale(1.2);
}

.cross {
    text-decoration: line-through;
}

@media only screen and (max-width: 768px){
    .formPartI{
        flex-direction: column !important;
        width: 60vw !important;
        align-items: center;
        gap: 1em;
        padding: 0;
        margin: 0;
        margin-bottom: 1em;
    }
}