.signInContainer form {
    display: flex;
    flex-direction: column;
    width: 30em;
}

.signInContainer{
    display: flex;
    justify-content: center;
}

.customGoogleButton {
    margin-top: 10px;
}